.bg-black{
    background-color: black;
}

.jumbotron {
    animation: fadein 3s forwards;
  }

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.jumbotron {
    position: relative;
    height: 100vh;
    background: url(image/top.jpg) center center;
    background-size: cover;
}

footer.footer{
    background-color: black;
    color: white;
    text-align: center;
}
